<header class="header">
  <div class="container">
    <div class="nav-brand">
      <a href="/" class="logo">Magic the Gathering Search</a>
    </div>
    <nav class="nav">
      <a href="/" class="nav-link">Home</a>
      <a href="/random" class="nav-link">Feeling lucky?</a>
      {{if .IsAuthenticated}}
      <a href="/logoff" class="nav-link">Sign out</a>
      {{end}}
      {{if not .IsAuthenticated}}
      <a href="/login" class="nav-link">Login</a>
      <a href="/signup" class="nav-link">Register</a>
      {{end}}
    </nav>
  </div>
</header>